<div class="about-container">
  <h2 class="about-title">My Journey</h2>
  <div class="timeline">
    <div
      *ngFor="let event of educationTimeline; let i = index"
      class="timeline-item"
      [class.left]="i % 2 === 0"
      [class.right]="i % 2 !== 0"
    >
      <div class="timeline-icon">
        <img [src]="event.logo" alt="{{ event.title }}" />
      </div>
      <div class="timeline-content">
        <h3 class="year">{{ event.year }}</h3>
        <h4 class="event-title">{{ event.title }}</h4>
        <p class="event-description">{{ event.description }}</p>
      </div>
    </div>
  </div>
</div>