<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
</head>
<app-navbar></app-navbar>
<div class="portfolio-container">
  <app-background-animation></app-background-animation>
  <div class="home-content">
    <app-profile></app-profile>
    <div>
      <h2 class="title">Projects</h2>
      <app-projects></app-projects>
    </div>
    <div>
      <h2 class="title">Skills</h2>
      <app-skills></app-skills>
    </div>
    <h2 class="title">About</h2>
    <app-about></app-about>
    <h2>Contact me</h2>
    <app-contact></app-contact>
  </div>
</div>
